.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  padding: 0.8rem 4rem;
  border-bottom: 8px #ffb4b4 solid;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 999;
}
.headerContainer .container:last-child {
  margin-left: auto;
}

.logo {
  width: 100px;
}

.navLinks {
  display: flex;
  list-style: none;
}

.navLink {
  margin-left: 1rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  font-weight: bold;
  color: #000;
}

.navLink:hover {
  cursor: pointer;
}

.navLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffb4b4;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.navLink:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.socialIcons {
  display: flex;
  list-style: none;
  justify-content: end;
}

.socialIcons img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}
