.pagination {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  flex-wrap: wrap;

  .linkButton {
    padding: 0.8em 1.8em;
    font-size: 12px;
    font-weight: 500;
    box-shadow: 0px 0px 0px 1px #000;
    border-radius: 50vh;
    transition: 0.3s;
    max-width: 50px;
    text-align: center;
  }

  .activeButton {
    padding: 0.8em 1.8em;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    box-shadow: none;
    border-radius: 50vh;
    transition: 0.3s;
    max-width: 50px;
    text-align: center;
  }

  .linkButton:hover {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    box-shadow: none;
  }
}
