.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 100px;
  width: 100%;
  gap: 16px;
}

.logo img {
  width: 80%;
}

.copyRight {
  font-size: 0.8rem;
  margin: 0;
}
