html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sora', 'Zen Kaku Gothic New', sans-serif;
  background-color: #b2a4ff;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

@media screen and (max-width: 767px) {
  html,
  body {
    font-size: 2.5vw;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
