html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sora', 'Zen Kaku Gothic New', sans-serif;
  background-color: #b2a4ff;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@media screen and (max-width: 767px) {
  html,
  body {
    font-size: 2.5vw;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
