.aboutContainer {
  padding-bottom: 80px;
  display: flex;
  gap: 40px;
  width: 100%;
}

.aboutContainer h2 {
  font-size: 10vw;
  margin: 0 auto;
  writing-mode: vertical-rl;
  line-height: 0.85em;
}

.aboutContainer h2 p {
  margin: 0;
}

.leftSection {
  width: 76%;
  display: flex;
  flex-direction: column;
}

.leftSection img {
  width: 50vw;
}

.rightSection {
  width: 24%;
}

.description {
  font-size: clamp(1rem, 1.8vw, 1.3rem);
  line-height: 1.5;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  background-color: #fff;
  padding: 16px 32px;
  width: 100%;
}

.description p span {
  display: block;
}

@media screen and (max-width: 767px) {
  .aboutContainer {
    gap: 16px;
  }

  .leftSection img {
    width: 60vw;
  }

  .description {
    font-size: 3vw;
    padding: 8px 24px;
  }
}
